header {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

header .logo {
  font-size: 2em;
  font-weight: bold;
  padding: 0.2em;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  padding: 0em 1em;
}

.highlightedContent {
  display: flex;
  flex-flow: column;
  width: 65%;
}

.highlightedContent img {
  width: 100%;
}

.bottomContainer {
  display: flex;
}

.bottomContainer h2 {
  font-size: 2em;
  text-align: left;
}

.bottomContainer .title {
  width: 40%;
}

.bottomContainer .content {
  width: 60%;
  text-align: left;
}

.news-container {
  background-color: darkblue;
  width: 30%;
  text-align: left;
  padding: 1em;
}

.news-container h2 {
  color: #f48925;
}

.new-item {
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
}